@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --defaultfontStyle: red;
}

/* NAV */
.navFone {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
}

.listing {
    display: flex;
    justify-content: space-between;
    column-gap: 38px;
    list-style: none;
    align-items: center;
}

.listing li,
a {
    font-size: 1.1rem;
    font-family: poppins;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;

}

/* NAV LOGOS*/
.rLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 550;
    font-family: poppins;
    min-width: 100px;
    min-height: auto;
    background-color: #d1e3f3;
    color: #308CD6;
    cursor: pointer;
}

.lLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-weight: 550;
    font-size: 1.4rem;
    font-family: poppins;
    color: var(--defaultfontStyle);
    cursor: pointer;
}


main {
    width: 100%;
    height: 100vh;
}

/* Main body Section One */

.sectionOne {
    width: 100%;
    height: 100vh;

}

.SeconeInner {
    display: flex;
    width: 100%;
    height: auto;
    border: 1px solid #000;
    justify-content: center;
    padding-top: 30px;

}




/* Section One Leftside Design */

.leftSecF {
    padding: 12px 50px 44px 50px;
    width: 50%;
    min-height: 100%;
    border: 1px solid #000;
}

.leftSecF h1 {
    width: 80%;
    font-size: 2.6rem;
    line-height: 1.4em;
    font-family: poppins;

}

.leftSecF .bluetext {
    color: #308CD6;

}

.leftSecF p {
    font-size: 1rem;
    padding: 12px 0px 26px 0px;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-family: poppins;
}

.leftSecF button {
    min-width: 242px;
    min-height: 56px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #308CD6;
    font-weight: 500;
    font-family: poppins;
    animation: scale 1.4s ease infinite alternate-reverse;


}

@keyframes scale {
    from {
        transform: scale(1.1);
    }

}



/* section one rightSide Design */

.rightSecF {
    width: 50%;
    min-height: 100%;
    padding: 12px 10px 12px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.rightSecF img {
    width: 320px;
    height: 280px;
}

.showcase {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #308CD6;

}

.showHeader {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 22px 0px 22px 50px;
    font-size: 1.6rem;
    font-family: poppins;
}

.showCasReview {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    border: 1px solid #000;
    font-family: poppins;
}

.RvtittleBx h1 {
    font-weight: 600;
}

.RvtittleBx {
    padding: 4px;
    font-weight: 520;
}

/* -Main Body Section Two --> */

.sectionTwo {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    border: 1px solid #000;
    padding-bottom: 30px;
    background-color: #c5cdd5;

}

.sectionTwoInner {
    display: flex;
    width: 80%;
    height: auto;
    gap: 6px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;


}

/* Main body section two LeftSec  */
.Sec2Left {
    width: 45%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
    /* border: 0.5px solid #474a46; */
    border-radius: 12px;
    background-color: rgb(234, 238, 243);
    border: 1px solid #000;
}

.lowBox {
    width: 100%;
    height: auto;
    padding-top: 12px;
    padding-left: 10px;
    display: flex;
    gap: 4px;
    align-items: center;
    align-content: center;
    /* border: 1px solid #000; */

    font-family: poppins;
}

.lowBox .headlinefttr {
    font-size: 0.8rem;
    font-weight: 580;
    color: #0d5b84;
    /* border: 1px solid #000; */

}

.Sec2Right {

    width: 45%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 12px;
    border: 1px solid #000;
    background-color: transparent;

}

.sec2LfHeadb {
    padding: 10px 0px 10px 14px;
    height: 70px;
    text-align: left;
    width: 100%;
}

/* Main body section right twoRightSec  */

.PriceDsplaySec2 {
    /* border: 0.5px solid #000; */
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50%;
    border-radius: 12px;
    justify-content: space-between;
    background-color: rgb(234, 238, 243);

}

.UserAcCollection {
    background-color: rgb(234, 238, 243);
    /* border: 0.5px solid #000; */
    width: 100%;
    height: 50%;
    display: flex;
    gap: 2px;
    flex-direction: column;
    border-radius: 12px;
    justify-content: space-between;
    padding: 10px 10px 11px 10px;
}


.usserInfoColInner h1 {
    padding: 6px 6px 4px 6px;

}

.UserAcCollection button {
    width: 100%;
    height: 42px;
    border-radius: 12px;
    background-color: #aed2f4;
    border: none;
    cursor: pointer;
    /* border: 1px solid #000; */

}

.PdS2Headrr {
    /* border: 1px solid #2d0de2; */
    text-align: center;
    width: 100%;
    height: 70px;
    border-radius: 12px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

.Sec2RghtserviceBar {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    background-color: #c9e3f9;


}

.Sec2RghtserviceBar span {
    padding-left: 12px;
}
/* The cart section Named as DisplayItemAddcart */
.DisplayServices {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #6a706c;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.DisplayServices span:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 520;
}

.PriceShowFtbar {
    display: flex;
    justify-content: space-between;
    padding: 6px 12px 6px 12px;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.UsrFlBOX {
    width: 100%;
    height: 70px;
    /* border: 1px solid #000; */
    padding: 4px;
}

.UsrFlBOX #USerId {
    width: 100%;
    height: 2.6rem;
    padding: 6px;
    border-radius: 6px;
    outline: none;
    border: none;
    border: 0.5px solid #c4bdbd;
}

.UsrFlBOXTw #UsrNidF2 {

    width: 100%;
    height: 2.6rem;
    padding: 6px;
    border-radius: 6px;
    outline: none;
    border: none;
    border: 0.5px solid #c4bdbd;
}

.UsrFlBOX .labelsUsr {
    padding: 2px 2px 2px 2px;
    /* border: 1px solid #000; */
}

.UsrFlBOXTw .labelsUsrTw {
    padding: 2px 2px 2px 2px;
    /* border: 1px solid #000; */
}

.UsrFlBOXTw {
    display: flex;
    width: 100%;
    height: 80px;
    /* border: 1px solid #000; */
    gap: 2px;
}

.Usrflw_InputBox1,
.Usrflw_InputBox2 {
    /* border: 1px solid #000; */
    width: 100%;
    height: auto;
    padding: 4px;
    display: flex;
    gap: 2px;
    flex-direction: column;

}


.SecTwo_leftSec_ITEMshow {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 8px;
    /* border: 1px solid #000; */
}

.hrbar,
.hrbar2 {
    text-align: center;
    width: 95%;
}

.secTwoLFtSecItmShowLISTBOX {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid #c90b0b; */
}

.secTwoLFtSecItmShowINNBOX {
    width: 100%;
    /* border: 1px solid #0ba828; */
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.servicesL {
    /* border: 1px solid #006e9d; */
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 14px;
    font-size: 0.9rem;

}

.servicesL img {

    width: 22px;
    height: 22px;
    /* border: 1px solid #000; */
}
.servicesL button > img{
    width: 20px;
    height: 20px;
}
.servicesL span {
    width: auto;
    border-radius: 12px;
    height: auto;
    padding: 2px;
    font-size: 1rem;
    font-weight: 550;
    color: #0d5b84;
    
    /* border: 1px solid #000; */
}

.servicesL2 {
    /* border: 1px solid #8fde19; */
    width: auto;
    height: 100%;
}

.servicesL2 span {

    border: 1px solid #0384b3; 
    border-radius: 12px;
    width: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px 10px 12px;
    gap: 10px;
    font-size: 0.8rem;
}

.servicesL button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 22px;
    background: none;
    gap: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    /* border: 1px solid #000; */
}

.popUp {
    width: 100%;
    height: auto;
    padding-bottom: 4px;
    padding-left: 8px;
    font-size: 0.8rem;
    color: red;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 4px;
}

 .CartList{
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
}
.ListLi_Service{
    margin-left: 30px;
    width: auto;
    height: auto;
    padding: 8px;
    padding-left: 32px;
}

.ListLi_Service div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
 } 
 .IGLOGO{
    width: 16px;
    height: 16px;
 }
 .sectionThree{

    
     border: 1px solid black;
 }
 .secThreeInnner{
    border: 1px solid black;
    width: 100%;
    height: 26vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .secThreeInnner span{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 30px;

 }
 .SupportBoxes p:first-of-type{
    font-size:0.8rem;
    font-family: poppins;
    font-weight: 600;
 }
  .SupportBoxes p:nth-of-type(2){
    font-size:0.6rem;
    width: 60%;
    text-align: center;
    font-family: poppins;
    font-weight: 450;
    color: #6a706c;
    padding-top: 2px;
 }
 .secThreeInnner_LOWsec{
    background-color: #308CD6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24vh;
}
.secThree_ftrLeft{
    width: 40%;
    height: 14vh;
    padding-left: 20px;
    border: 1px solid black;
}
.secThree_ftrLeft h1{
    width: 90%;
    font-size: 2.2rem;
    font-family: poppins;
    color: #ebe5e5;
}
 .secThree_fyrRightt{
    width: 45%;
    height: 14vh;
    border: 1px solid black;
}
.secThree_fyrRighttOw{
    max-width:90%;
    height: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 30px 30px;
    gap: 8px;
}
.secThree_fyrRighttOw input{
    font-size: 0.6rem;
    outline: none;
    font-family: poppins;
    background-color: #509ddb;
    color: white;
    border: 0.5px solid rgb(109, 180, 238);
    padding-left:4px;
    width: 140px;
    height: 32px;
}
.secThree_fyrRighttOw input::placeholder{
    color: white;
    font-size: 0.6rem;

}
.secThree_fyrRighttOw button{
    cursor: pointer;
    outline: none;
    font-size: 0.7rem;
    font-family: poppins;
     width: 140px;
    height: 32px;
}
footer{
    border: 1px solid rgb(223, 5, 5);
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: center;
}
.FooterInnerr{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    border: 1px solid rgb(62, 230, 40);
}
.FooterInnerr span{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border: 1px solid black;
}
.FooterInnerr span:nth-of-type(1) p:nth-of-type(1){
    font-weight: 550;
}
.FooterInnerr span h1:nth-of-type(1){
    padding-bottom: 16px;
}
.FooterInnerr span:nth-of-type(4) p{
    display: flex;
    padding: 6px;
    gap: 14px;

}