*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
:root{
    --defaultfontStyle:red; 
}
/* NAV */
.navFone{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    padding: 10px 50px 10px 50px ; 
}
.listing{
    display: flex;
    justify-content: space-between;
    column-gap: 38px;
    list-style: none;
    align-items: center;
}
.listing li,a{
    font-size: 1.1rem ;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;

}
/* NAV LOGOS*/
.rLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 550;
    min-width: 100px;
    min-height: auto;
    background-color: #d1e3f3;
    color: #308CD6;
    cursor: pointer;
}
.lLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-weight: 550;
    font-size: 1.4rem;
    color:var(--defaultfontStyle);
    cursor: pointer;
}


main{
    width: 100%;
    height: 100vh;
}

/* Main body Section One */

.sectionOne{
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    
}
.SeconeInner{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}




/* Section One Leftside Design */

.leftSecF{
    padding: 12px 50px 44px 50px;
    width: 50%;      
    min-height: 400px;

}

.leftSecF h1{
    width: 80%;
    font-size: 3rem;
}
.leftSecF .bluetext{
    color: #308CD6 ;
    
}
.leftSecF p{
    font-size: 1.1rem;
    padding: 10px 0px 22px 0px;
    line-height:1.4em;
}
.leftSecF button{
    min-width: 242px;
    min-height: 56px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    color:white;
    background-color: #308CD6 ;
    font-weight: 550;
    animation: scale  1.4s ease infinite alternate-reverse;


}
@keyframes scale {
    from{
        transform: scale(1.1);
    }

}



/* section one rightSide Design */

.rightSecF{
    width: 50%;
    min-height: 400px;
    padding: 12px 10px 12px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightSecF img{
    width: 320px;
    height: 280px;
}

.showcase{
    display: flex;
    justify-content: center;
    width: 100%;
    height:100px;
    background-color: #308CD6 ;

}
.showHeader{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 22px 0px 22px 50px;
    font-size: 1.8rem;
}
.showCasReview{
    width: 50%;
    height: auto;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    
    }
.RvtittleBx{
    border: 1px solid #000;
}
.RvtittleBx h1{
    padding: 4px;
    font-weight: 2000;
}

.RvtittleBx{
    padding: 4px;
    font-weight: 550;
}

/* -Main Body Section Two --> */

.sectionTwo{
    width: 100%;
    height: 100vh;
    border: 1px solid #000;    
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.sectionTwoInner{
    display: flex;
    width: 80%;
    height: 80%;
}

/* Main body section two LeftSec  */
.Sec2Left,.Sec2Right{
    width: 50%;
    height: 90vh;
    border: 2px solid #3bbb11;
}
.sec2LfHeadb{
    border: 1px solid #000;
    padding: 12px;
    height: 70px;
    text-align: left;
    width: 100%;
}
.headlinefttr{
    padding: 12px;
}
/* Main body section twoRightSec  */

.PriceDsplaySec2,.UserAcCollection{
    border: 1px solid #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
}


.usserInfoColInner{
    padding-bottom: 8px;
}
.usserInfoColInner h1{
    padding: 8px;

}

.UserAcCollection button{
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background-color: #aed2f4;
}
.PdS2Headrr{
    border: 1px solid #2d0de2;
    text-align: center;
    width: 100%;
    height: 70px;

    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}
.Sec2RghtserviceBar{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    background-color: #c9e3f9 ;

}

.Sec2RghtserviceBar span{
    padding-left: 12px;
}
.DisplayServices{
    text-align: center;
    padding: 8px;
    border: 1px solid #0eda41;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.PriceShowFtbar{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px 6px 12px;
    width: 100%;
    height: auto;
    border: 1px solid #cd0e0e;
}
.UsrFlBOX{
    width: 100%;
    height:80px;
    border: 1px solid #000;
    padding: 6px;
}
.UsrFlBOX #USerId{
    width: 100%;
    height: 2.6rem;
    padding: 6px;
    border-radius: 4px;
    outline: none;
}
.UsrFlBOX .labelsUsr{
    padding: 2px    2px 2px 2px;
    border: 1px solid #000;
}
.UsrFlBOXTw .labelsUsrTw{
    padding: 2px 2px 2px 2px;
    border: 1px solid #000;
}
.UsrFlBOXTw{
    display: flex;
    width: 100%;
    height:80px;
    border: 1px solid #000;
    gap: 2px;
}

.Usrflw_InputBox1,.Usrflw_InputBox2{
    border: 1px solid #000;
    width: 100%;
    height: auto;
    padding: 6px;
    display: flex;
    gap: 2px;
    flex-direction: column  ;
    
}
.UsrFlBOXTw #UsrNidF2{
    
    width: 100%;
    height: 2.6rem;
    padding: 6px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #000;
}

.SecTwo_leftSec_ITEMshow{
    width: 100%;
    height: auto;
    border-bottom: 2px solid #000;
    display: flex;
    padding-bottom: 18px;
    flex-direction: column;
}
.secTwoLFtSecItmShowINNBOX{
    width: 100%;
    height: 20%;
    display:flex;
}
.servicesL{
    border: 1px solid #006e9d;
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-size: 0.9rem;

}
.servicesL img{

    width: 22x;
    height: 22  px;
    border: 1px solid #000;
}
.servicesL span{
    width: auto;
    border-radius: 12px;
    height: auto;
    padding: 2px;
    font-size: 1rem;
    font-weight: 550;
    color: #0d5b84;
    border: 1px solid #000;
}

.servicesL2{
    text-align: right;
    border: 1px solid #000;
    display: flex;
    border: 1px solid #8fde19;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    padding-left: 30px;
    width: 40%;
    height: 100%;
}
.servicesL2 span{
    border: 1px solid #0384b3;
    border-radius: 12px;
    width: auto;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 4px;
    font-size: 0.8rem;
}

.servicesL button{
    width: 34px;
    height: 24px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}


/* @media screen and (min-width:1294px) {
    .sectionOne{
        height: 100vh;
    border: 5px solid #000;
        
    }
    .SeconeInner{
        height: 76vh;
    }
} */