@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{

    width: 100%;
    height: 7vh;
    font-family: poppins;
font-weight: 400;
    padding: 8px;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav h1{
    font-size: 1.6rem;
}
nav p{
    font-size: 1rem;
    padding: 4px;
    border-radius: 14px;
    background-color: rgb(142, 142, 171);
    cursor: pointer;
}
nav ul{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 26px;
    font-size: 1rem;
}

main{
    background-color: rgb(211, 226, 238);
    height: 100vh;
    width: 100%;
    
}
.secOut{
    width: 100%;
    height: 100vh;
}
.secin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100vh;
    padding-bottom: 10px;
}
.leftsec{
    width: 32vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    font-family: poppins;
    font-weight: 400;
}
.leftup, .lfttdwn{
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:100%;
    
}

.rghtsec{
    height: 80vh;
    width: 32vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 16px; 
    padding: 8px;
}

.rghtup{
    
    padding: 6px 10px 0px 10px;
    border-radius: 16px; 
    font-family: poppins;
    font-weight: 400;
    height: auto;
}.rghtup h1{
    font-weight: 500;
    font-style: 1rem;
    
}
.rlowsec{
    padding: 0px;
    height: 80vh;
    border: 1px solid #000;
}
.aditmrlow{
    width: 100%;
    border: 1px solid #000;
    height: 100%;
    border-top: 1px solid rgb(194, 190, 190);
    padding-top: 30px;
}

.aditm h1{
    text-align: center;
    font-size: 1rem;
    font-weight: 450;
}
.aditm{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}
.aditm2{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;  
 padding: 10px 10px 16px 10px;

}
.aditm2 form{
 width: 100%;
 height: auto;

}
.aditm span{
    display: flex;
    justify-content: space-between;
}
.aditm .spn1{
    background-color: rgb(235, 242, 248);
}
.spn2{
    border-top:  0.5px solid rgb(190, 187, 187);
    height: auto;
    font-size: 0.9rem;
}
.aditm span h2{
    font-size: 0.9rem;
    font-weight: normal;
}
.boxig{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    outline: none;
    height: 120px;
    padding-top: 6px;
}
.boxig h3{
    font-size: 1rem;
    font-weight: 450;
}
.spn{
    padding: 8px;
    width: 100%;
    height: 38px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #bab4b4;
}

.inp1, .it2head{
    outline: none;
    padding-top: 6px;
}
.it2head{
    display: flex;
    outline: none;
    gap: 14px;
    padding-bottom: 16px;

}

.aditm2 button{
    border: 1px solid #a59f9f;
    width: 100%;
    height: 38px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    color: 2rgb(255, 255, 255);
    background-color: rgb(112, 88, 218);
}
.aditm2 h2{

    font-size: 1.1rem;
    padding-left: 4px;
    font-weight: 550;
}
.inp1 label{
    padding-left: 4px;
}
.itemssec .igm{
    width: 100%;
    height: 50vh;
    padding: 10px;
    }
.iggpdct{
    width: 100%;
    height: 40vh;
    border-radius: 12px;
}
.iggpdct img{
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
.igmsec span{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 4px;
}

.skpnxt{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    gap: 2px;
}
.skpnxt button:nth-child(1){
    width: 100%;
    height: 38px;
    border-radius: 12px;
    color: rgb(198, 128, 90);
    background-color: rgb(240, 216, 203);
    cursor: pointer;
    border: none;
}
.skpnxt button:nth-child(2){
    border-radius: 12px;
    width:100%;
    height: 38px;
    cursor: pointer;
    border: none;
    color: rgb(65, 171, 65);
    background-color: rgb(190, 240, 190) ;
}

.liDesgn{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0px 6px 0px 50px ;
    border-top: 0.5px solid rgb(176, 169, 169);
    font-size: 0.8rem;
}
.img-price-service-headBx{
    display: flex;
    justify-content:  space-between;
}