@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Old+Persian&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --defaultBack1: linear-gradient(black 3px, rgb(87, 84, 84));
    --defaultback2: linear-gradient(rgb(87, 84, 84), rgb(21, 21, 21));
    --default-font: poppins;
    --default-font2: montserrat;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    user-select: none;
    user-select: none;
}


main{
    background-color: black;
}

header {
    width:  100%;
    height: 14vh;
    position: sticky;
    top: 0px;
    padding-top: 1.2rem;
    z-index: 2;
}

#navhad {
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out
}  
.icon{
    display: none;
    font-size: 1.2rem;
    font-family: var(--default-font2);
    padding-left: 38px;
}
.icon h1{
    color: #9e9595;
    font-weight: 520;
}
header ul {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    animation: drop 0.8s ease 1 normal;
}
.navdeg a {
    text-decoration: none;
    color: #000;
    list-style: none;
}
.linkNot img {
    width: 32px;
    height: 32px;
}
.navdeg a .lowttl {
    position: relative;
    top: -20px;
    font-size: 1.1rem;
    opacity: 0;
    transition: all 0.6s ease;
}
.navdeg a:hover .lowttl {
    transform: translateY(12px);
    display: block;
    opacity: 100%;
    font-weight: 520;
}

.navdeg>a li {
    font-size: 0.9rem;
    font-family: poppins;
    color: aliceblue;
    transition: all 0.4s;
    /*
    background:linear-gradient(white , black);
    border-radius:14px;
    display: flex; */
    align-items: center;
    align-content: center;
    justify-content: center;
    width: auto;
    height: auto;
    gap: 2px;
    opacity: 70%;
    display: flex;
    flex-direction: column;
}

@keyframes drop {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(10);
    }

}

.navdeg li:hover {
    color: rgb(139, 133, 126);
    cursor: pointer;
    transform: scale(1.2);
    opacity: 100%;
}

.boxMainIn {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    background: linear-gradient(black 3px, #1F1E1E 200px);
}

.Upboxsetstart {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 48px;
    display: flex;
}

.abboutpr {
    width: 100%;
    height: auto;
    padding: 60px;
    text-align: justify;
}

.abboutpr h1 {
    font-size: 2.4rem;
    padding-left: 10px;
    right: 10px;
    font-family: var(--default-font2);
    position: relative;
    right: 10px;
    font-weight: 620;
    color: rgb(199, 196, 190);
    margin-bottom: 18px;
}

.abboutpr p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 28px;
    padding: 16px 0px 0px 0px;
    font-family: var(--default-font2);
    color: rgb(199, 196, 190);
}

.abboutpr p a {
    color: rgb(199, 196, 190);
    text-decoration: none;
}

.seclft {
    width: 40%;
    height: 60vh;
}

.secrght {
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secrght .linksacc {
    justify-content: flex-start;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 44px;
}

.linkaccll {
    display: flex;
    list-style: none;
    padding-top: 6px;
    opacity: 0;
    transition: opacity 1s ease;
}

.linksacc .linkaccll img {
    width: 2.5rem;
    height: 2.1rem;
    padding: 0 4px 0 4px;
}

.linkaccll a {
    text-decoration: none;
    color: #000;
    list-style: none;

}
.h2up{
    z-index: 0;
    opacity: 1;
    transform: translateX(0px);
    transition: transform 0.8s ease, opacity 0.8s ease;
}
.showh2lnk{
    z-index: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
    opacity: 0;
    transform: translateX(-700px);
}
.phtbox {
    padding: 14px 0px 0px 14px;
    position: relative;
    left: 50px;
    top: 20px;
}

.sidewidow {
    background-color: #c2eb47;
    transform: rotateZ(90deg);
    position: relative;
    left: 78px;
    width: 20vw;
    height: 0vh;
    display: none;
    border-radius: 70px 70px 0px 0px;
    transition: height 0.8s ease, display 0.8s ease;
}

.roundoc img {
    width: 28vw;
    height: 58vh;
    border-radius: 50%;
    opacity: 100%;
}

.roundoc {
    width: 28vw;
    height: 56vh;
    border-radius: 50%;
    animation: poping 1s ease 1 normal;
    background: linear-gradient(rgb(72, 38, 38)50%, black 10%);
    position: relative;
}

@keyframes poping {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

.greetWlcm {
    width: 100%;
    height: auto;
    font-family: var(--default-font);
    position: relative;
    top: 6rem;
}

.greetWlcm h1 {
    font-size: 5rem;
    color: rgb(113, 112, 112);
    line-height: 5.6rem;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.greetWlcm h1>span {
    color: rgb(199, 196, 190);
    font-size: 6.2rem;
}


.NAMEEHH {
    
    margin-left: 158px;
}

.desg {
    font-size: 2rem;
    font-family: var(--default-font);
    color: rgb(96, 95, 95);
}


.greetWlcm span {
    color: wheat;
    font-size: 1.3rem;
}


.midsec2{
    padding: 16px 60px 60px 60px;
    background: linear-gradient(  #1F1E1E ,black 350px);
    
}
.expStrt{
    width: 100%;
    height: auto;
}


.exp{
    width: 100%;
    height: auto;
    font-family: var(--default-font2);    
}

.exp2{
    padding-top: 40px;
}
.exp3{

    width: 100%;
    padding-top: 120px;
    height: auto;
}

.exp3 span{
height: 50vh;
}
#allhead {
    transition: opacity 0.6s ease-in-out; /* Smooth transition for opacity */
  }

.exp4Prjct h1{
    text-align: right;
    font-size: 44rem;
} 
.pjinbx{

    width: 100%;
    height: auto;
        display: grid; 
        grid-template-columns: 0.8fr 0.8fr; /* 2 columns, each taking equal space */
        grid-template-rows: 1fr 1fr; /* 2 rows, each taking equal space */    
        align-items: center;
        justify-items: center;
        gap: 30px;
    }
.pjinbx .pjbx{    
    width: 100%;
    height: 650px;
    border-radius: 12px;
    padding: 8px;
    border: 1px solid #868484;
    opacity: 100%;
    transition: opacity 1s ease ;
}
.pjbxHidden{
    opacity: 0;
}
.pjcoverbx{
    width: 100%;
    height: 54vh;
    border-radius: 12px;
    padding:8px;
    /* background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/sccPj.png); */
}
.pjcoverbx img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
.pjbx .dtlpj{
    width: 100%;
    height: auto;
    padding-top: 16px;
    font-family: var(--default-font2);
}
.dtlpj .dttlpjc{
    padding: 20px 12px 22px 12px ;
    width: 100%;
    height: auto;
    text-align: justify;
}
.dttlpjc p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 26px;
    font-family: var(--default-font2);
    color: rgb(199, 196, 190);
}
.repll{
    padding: 10px 0px 0px 0px;
}
.repll a{
    color: rgb(243, 243, 243);
    
}
.dtlpj h1{
    font-size: 1.3rem;
    font-weight: 580;
    text-align: left;
    color: rgb(243, 243, 243);
    padding: 0px 12px 0px 12px;
}
.dtlpj .rplnk{
    
    width: 100%;
    height: auto;
    padding: 14px 12px 14px 12px;
}
.rplnk span{
    background-color: #0e0e0e;
    color: rgb(217, 206, 206);
    border-radius: 16px;
    padding: 8px 12px 8px 12px;
}
.exp >h1{
    font-size: 2.4rem;
    font-weight: 530;  
    padding-bottom: 48px;
    color: rgb(243, 243, 243);
}
.exp span h1{
    font-size: 1.3rem;
    font-weight: 530;  
    padding-bottom: 14px;
    color: rgb(243, 243, 243);
}
.exp h2{
    font-weight: 400;  
    font-size: 1rem;
    padding-bottom: 6px;
    color: rgb(243, 243, 243);
}
.exp4Prjct{
    border: 1px solid #000;
    padding-top: 70px;

}
.exp p{
    padding-bottom: 6px;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(243, 243, 243);
}
.exp span a{
    text-decoration: underline rgb(143, 140, 140);
    color: rgb(243, 243, 243);
}
.explistdetl ul{
    list-style-position: inside;
    font-size: 1rem;
    font-weight: 400;
}
.explistdetl li{
    color: rgb(243, 243, 243);
    padding: 6px 0px 0px 0px;
}
.stactdet {
    width: 100%;
    height: 24vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 28px;
}

.stactdet h1 {
    font-size: 3rem;
    color: #8f8c8c;
    font-family: poppins;
}

.stactdet hr {
    width: 90%;
    height: 0.2vh;
    animation: animmfont 0.8s ease 1 normal;
}

@keyframes animmfont {
    0% {
        width: 0;

    }

    100% {
        width: 100%;
    }

}

.b2boxsec {
    height: 82vh;
    padding: 20px 20px 20px 20px;
    background: linear-gradient(rgb(87, 84, 84), rgb(43, 43, 43));
}

.boxsec .notot {
    /* display: flex;
    flex-shrink: 3;
    gap: 10px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    grid-template-rows: 250px;
    justify-items: center;
    row-gap: 34px;
    align-items: center;
}

.notot .bitem {
    width: 35vw;
    height: 37vh;
    text-align: center;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 42px;
    border-radius: 12px;
    /* background: linear-gradient(rgb(177, 159, 159),black); */
    background-color: transparent;
    outline: none;
    border: 0.5px solid #353232;
    box-shadow: 2px 4px 28px 5px;
}

/* 
.bitem3{
    width: 40vw;    
    height: 34vh;
    text-align: center;
    padding: 16px; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 44px;
    border-radius: 12px;
    background-color: transparent;
    outline: none;
    border: 0.5px solid #353232;
    box-shadow: 2px 4px  28px 5px;
} */
/* background: linear-gradient(rgb(177, 159, 159),black); */



.notot span {
    width: 100%;
    height: auto;
    font-family: poppins;
    font-size: 1.3rem;
}

.infcc strong {
    color: rgb(104, 98, 98);
    text-decoration: none;
    font-weight: 400;

}

.infcc img {
    transition: transform 0.3s ease;

}

.infcc img:hover {
    transform: scale(1.2);

}

.notot span a {
    text-decoration: none;
}

.bitem h2 {
    font-size: 1.3rem;
    color: #101010;
    font-weight: 450;
    font-family: poppins;
    position: relative;
    top: 5px;
}

.bitem3 h2 {
    font-size: 1.1rem;
    color: #070707;
    font-weight: 450;
    font-family: poppins;
    position: relative;
    top: 5px;
    text-wrap: nowrap;
}

.bitem span {
    display: flex;
    gap: 16px;
    justify-content: center;
}


.bitem3 span {
    display: flex;
    gap: 100px;
    justify-content: center;
    border: 1px solid #000;
    gap: 30px;
    justify-content: center;
}

.notot img {
    width: 4.6vw;
    height: 10vh;
    padding: 5px;
}


/* FOOTER */
.Trd3sec {
    border: 1px solid #b6b6b6;
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgb(43, 43, 43), rgb(77, 76, 76));
    padding: 120 px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.footsecst {
    background-color: rgb(71, 68, 68);
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 6px;
    width: 95%;
    height: 22vh;
    border-radius: 20px;
    font-family: poppins;
}

footer {
    border: 1px solid #000;
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footsecst h1 {
    font-size: 2.2rem;
    color: #151515;
}

.footsecst p {
    font-size: 1rem;
    color: rgb(15, 15, 15);
}

.footerul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerul img {
    width: 1.8rem;
    height: 1.8rem;
}

.concct {
    border: 1px solid #e2e1e1;
    width: 10vw;
    height: auto;
    background: linear-gradient(rgb(87, 84, 84), rgb(43, 43, 43));
    display: flex;
    justify-content: center;
}

.concct h1 {
    font-size: 1rem;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #4c4949;
}

::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
  }